@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
}

/*Стили для header*/
.header-content {
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.header-content:after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.45;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 62.5%;
  margin-right: auto;
  margin-left: auto;
  padding: 28px 15px;
}

.header-logo {
  display: inline-block;
  width: 180px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.menu-link {
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-list-item {
  margin-left: 35px;
}

.menu-list-item-1 {
  margin-left: 0;
}

.burger-menu-wrapper {
  display: none;
  position: absolute;
  top: 45px;
  right: 35px;
}

.burger-menu {
  display: block;
  width: 24px;
  height: 28px;
  background-image: url(../img/menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  mask-image: #fff;
}

.main-theme {
  margin: 80px auto 0;
  width: 720px;
  padding-bottom: 150px;
}

.main-theme-title {
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.66;
}

/*Стили для MAIN*/
.trends {
  padding-top: 60px;
  text-align: center;
}

.title-trends:after,
.our-products-title::after,
.popup-title::after {
  content: "";
  display: flex;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
  margin: 13px auto 25px;
}

.trend-content {
  display: flex;
}

.trend {
  width: 24.85%;
  height: 320px;
  box-sizing: border-box;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.trend::after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.45;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.trend1,
.trend2,
.trend3 {
  margin-right: 0.2%;
}

.trend1 {
  background-image: url(../img/trend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.trend2 {
  background-image: url(../img/trend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.trend3 {
  background-image: url(../img/trend3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.trend4 {
  background-image: url(../img/trend4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-info {
  max-width: 90%;
  border: 3px solid #b59f5b;
  box-sizing: border-box;
  padding: 35px;
  margin-bottom: 5%;
}

.titles {
  display: inline;
  font-size: 20px;
  color: #0f0d0e;
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
}

.trend-info-title,
.our-products-info {
  text-decoration: none;
}

.trend-info-title {
  color: #fff;
  padding-top: 8px;
}

.main-block {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  padding: 0 15px;
}

.main {
  max-width: 66.25%;
}

.card {
  display: flex;
}

.card {
  padding-top: 64px;
}

.card1 {
  padding-top: 0;
}

.img-card {
  width: 380px;
}

.card-info {
  margin-left: 30px;
}

.tag-list {
  display: inline-block;
  list-style-type: none;
}

.tag-list {
  margin-left: 20px;
}

.tag-list-1 {
  margin-left: 0;
}

.tag {
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  color: #b59f5b;
  text-transform: uppercase;
  font-size: 14px;
}


.link-card {
  display: inline-block;
  text-decoration: none;
  padding-top: 10px;
  font-size: 20px;
  color: #0f0d0e;
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.card-parameters {
  margin-top: 35px;
  margin-bottom: 50px;
}

.card-date {
  display: inline-block;
  color: #888888;
  font-size: 12px;
}

.author {
  display: inline-block;
  padding-left: 20px;
  font-family: OpenSans-Bold, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.card-content {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

/* Секция ASIDE */

.aside {
  margin-left: 10%;
  width: 270px;
}

.title {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.new::after {
  content: "";
  display: flex;
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  margin: 13px auto 20px;
}

.new-post {
  display: flex;
  margin-bottom: 20px;
}

.img-post {
  width: 70px;
}

.post-info {
  margin-left: 15px;
}

.news-name {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-decoration: none;
}


.find {
  margin: 45px 0;
}

.search {
  display: flex;
}

.field {
  box-sizing: border-box;
  padding: 15px;
  width: 230px;
  border: none;
  background-color: #f4f7f6;
  display: inline-block;
}

.hidden-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  width: 54px;
  height: 54px;
  background-image: url(../svg/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #b59f5b;
  border: none;
  padding: 0;
  cursor: pointer;
}

.email {
  box-sizing: border-box;
  border: none;
  background-color: #f4f7f6;
  width: 270px;
  padding: 20px;
  margin-bottom: 18px;
}

.button-sub {
  box-sizing: border-box;
  border: none;
  padding: 20px;
  background-color: #b59f5b;
  width: 270px;
  margin-bottom: 60px;
  cursor: pointer;
}

.button-name {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.menu-tag {
  padding-left: 0;
  margin-bottom: 45px;
}

.menu-tag-list {
  list-style-type: none;
  display: inline-block;
  border: 3px solid #efefef;
  margin-bottom: 6px;
}

.link-tag {
  text-decoration: none;
  color: #0f0d0e;
  font-size: 12px;
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 13px;
}

.link-tag:hover {
  color: #423c2a;
}

.menu-theme {
  padding: 0;
}

.menu-theme-list {
  list-style-type: none;
  border-bottom: 2px solid #efefef;
  padding-top: 16px;
  padding-bottom: 10px;
}

.link-theme {
  text-decoration: none;
  color: #0f0d0e;
  font-size: 14px;
  font-family: OpenSans, sans-serif;
  font-weight: bold;
}

.link-theme:hover {
  color: #423c2a;
}

.count-of-theme {
  display: inline-block;
  color: #b59f5b;
  font-size: 12px;
  vertical-align: super;
}

.our-products {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 64px;
}

.shop-items {
  display: flex;
  justify-content: space-between;
}

.shop-item {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.shop-item-desk {
  max-width: 100%;
}

.shop-item-info {
  text-align: left;
  position: relative;
  flex-grow: 1;
  outline: 3px solid #b59f5b;
  outline-offset: 25px;
}

.our-products-info {
  display: inline-block;
  font-size: 20px;
  padding-top: 12px;
  color: #0f0d0e;
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
}

.shop-item-description {
  padding-top: 8px;
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 24px;
}

.info-products-link {
  text-decoration: none;
  color: #b59f5b;
  cursor: pointer;
}

.product-price {
  font-family: Opensans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  max-width: 100%;
  display: block;
}

.product-prices {
  display: flex;
  justify-content: space-between;
}

.old-price {
  position: relative;
}

.old-price::after {
  content: "";
  left: 0;
  bottom: 11px;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
}

.link-to-shop {
  padding: 20px 25px;
  background: #b59f5b;
  font-family: Opensans, sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.our-products {
  margin-bottom: 80px;
}



/*FOOTER */

.footer {
  background-color: #f4f7f6;
  padding: 32px 0;
  width: 62.5%;
  margin: 0 auto;
}

.wrapper {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.adress-list {
  list-style-type: none;
  display: inline-block;
}

.adress-list {
  margin-left: 25px;
}

.adress-list1 {
  margin-left: 0;
}

.link-to-adress {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url(../svg/004-twitter.svg);
}

.pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.instagram {
  background-image: url(../svg/005-instagram.svg);
}

.tumbrl {
  background-image: url(../svg/003-tumblr.svg);
}

.copyrights {
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center;
  color: #999999;
  font-weight: bold;
  font-size: 12px;
}

/* POPUP ЭЛЕМЕНТ */

body {
  position: relative;
}

.popup_hidden::before {
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.popup_container {
  display: none;
  width: 390px;
  height: 600px;
  background-color: #fff;
  position: fixed;
  top: 20%;
  left: 40%;
  text-align: left;
  z-index: 5;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.popup-form {
  max-height: 100%;
  padding: 40px 25px;
}

.popup-title-wrapper {
  text-align: center;
}

.label-text {
  display: block;
  width: 320px;
  margin-top: 33px;
  margin-bottom: 5px;
  font-size: 13px;
}

.select-group {
  display: block;
  margin-top: 33px;
}

.popup-select {
  width: 330px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 10px;
  border: none;
  background-color: #f4f7f6;
  font-size: 13px;
  color: #333333;
}

.popup-select:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.radio-button-text {
  margin-right: 10px;
}

.radio-button-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  margin-right: 10px;
}

.popup-radio-button:checked~.radio-button-text::before {
  background-image: url(../svg/form-circle.svg);
}

.popup-radio-button {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.popup-textarea {
  box-sizing: border-box;
  width: 330px;
  height: 131px;
  border: none;
  background-color: #f4f7f6;
  padding: 20px 20px;
  font-family: Opensans, sans-serif;
  font-weight: normal;
  font-size: 13px;
  resize: none;
}

.popup-textarea:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.popup-button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2.8;
  font-family: Opensans, sans-serif;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 18px;
  width: 330px;
  height: 48px;
  border: none;
  color: white;
  background-color: #b59f5b;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #323232;
}

.popup-close {
  width: 1em;
  height: 1em;
  font-size: 18px;
  position: absolute;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  top: -1.5em;
  right: 0;
  z-index: 7;
}

.popup_button-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

@media (min-width: 1200px) {

  .shop-item-2,
  .shop-item-3 {
    margin-left: 9%;
  }

  .shop-item-1 {
    margin-left: 3%;
  }

  .shop-item-3 {
    margin-right: 3%;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .container {
    padding-top: 42px;
  }

  .burger-menu-wrapper {
    display: block;
  }

  .menu-list {
    display: none;
  }

  .header-content {
    background-image: url(../img/banner-bg-tablet.jpg);
    background-size: cover;
    background-position: 100%;
  }

  .main-block {
    padding: 0 35px;
    max-width: 698px;
  }

  .main {
    max-width: 392px;
  }

  .main-theme {
    padding-bottom: 125px;
  }

  .trends {
    padding-top: 45px;
  }

  .trend-content {
    flex-wrap: wrap;
  }

  .trend {
    width: 49.7%;
    height: 246px;
  }

  .trend3,
  .trend4 {
    margin-top: 0.2%;
  }

  .card {
    flex-direction: column;
    width: 100%;
    border-bottom: 3px solid #eee;
  }

  .img-card {
    width: 100%;
  }

  .card:last-child {
    border-bottom: none;
  }

  .main-theme-title {
    font-size: 40px;
    line-height: 55px;
  }

  .title-trends {
    font-size: 18px;
    line-height: 29px;
  }

  .trend-info-title,
  .our-products-title,
  .popup-title,
  .link-card {
    font-size: 17px;
    line-height: 22px;
  }

  .card-parameters {
    margin-bottom: 37px;
  }

  .card-info {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
  }

  .aside {
    margin-left: 34px;
  }

  .shop-items {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .shop-item {
    width: 36%;
    margin-bottom: 55px;
    box-sizing: border-box;
  }

  .shop-item-1,
  .shop-item-3 {
    margin-left: 7%;
  }

  .shop-item-2,
  .shop-item-3 {
    margin-right: 7%;
    margin-left: 7%;
  }

  .our-products {
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .shop-item-description {
    padding-top: 4px;
  }

  .link-to-shop {
    padding: 17px 25px;
    font-size: 14px;
  }

  .footer {
    width: 91%;
  }

  .popup_container {
    max-width: 50%;
    max-height: 55%;
    background-color: #fff;
    position: fixed;
    top: 20%;
    left: 25%;
  }

  .popup-form {
    padding: 30px 25px;
  }

  .popup-select {
    width: 100%;
  }

  .popup-textarea {
    width: 100%;
  }

  .popup-button {
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trend {
    width: 24.85%;
    height: 320px;
  }

  .trend1,
  .trend2,
  .trend3 {
    margin-right: 0.2%;
  }

  .trend3,
  .trend4 {
    margin-top: 0;
  }
}

@media (max-width: 640px) {
  .header {
    position: relative;
    width: 100%;
  }

  .burger-menu-wrapper {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .menu-list {
    display: none;
  }

  .header-content {
    background-image: url(../img/banner-mobile.jpg);
    background-size: cover;
    background-position: 100%;
  }

  .header-logo {
    margin-top: 224px;
    width: 265px;
  }

  .container {
    padding: 0;
    display: block;
    max-width: 85%;
  }

  .main-theme {
    margin-top: 38px;
    max-width: 85%;
  }

  .main-theme-title {
    font-size: 26px;
    line-height: 36px;
  }

  .trends {
    padding-top: 44px;
  }

  .title-trends {
    font-size: 16px;
    line-height: auto;
  }

  .trend-info-title,
  .our-products-title,
  .popup-title,
  .link-card {
    font-size: 16px;
    line-height: 20px;
  }

  .trends {
    padding-top: 45px;
  }

  .trend-content {
    flex-wrap: wrap;
    width: 100%;
  }

  .trend {
    width: 100%;
    height: 229px;
  }

  .trend2,
  .trend3,
  .trend4 {
    margin-top: 0.8%;
  }

  .trend1,
  .trend2,
  .trend3 {
    margin-right: 0;
  }

  .main-block {
    display: block;
    width: 100%;
    margin-top: 44px;
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 4%;
  }

  .main {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: auto;
  }

  .card {
    flex-direction: column;
    border-bottom: 3px solid #eee;
  }

  .card {
    padding-top: 35px;
  }

  .card1 {
    padding-top: 0;
  }

  .img-card {
    width: 100%;
  }

  .card-info {
    margin-left: 0;
    margin-bottom: 18px;
  }

  .card-parameters {
    margin: 20px 0;
  }

  .card-content {
    font-size: 14px;
    line-height: 20px;
  }

  .aside {
    margin-left: 0;
    margin-top: 44px;
    width: 100%;
  }

  .field {
    width: 91%;
  }

  .email,
  .button-sub {
    width: 100%;
  }

  .our-products {
    margin-top: 45px;
    margin-bottom: 24px;
    width: 100%;
  }

  .shop-items {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .shop-item {
    width: 80%;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  .shop-item-info {
    outline-offset: 20px;
  }

  .shop-item-description {
    padding-top: 4px;
  }

  .link-to-shop {
    padding: 17px 25px;
    font-size: 14px;
  }

  .footer {
    width: 92%;
    box-sizing: border-box;
    margin-right: 4%;
    margin-left: 4%;
  }

  .wrapper {
    text-align: center;
  }

  .link-to-adress {
    width: 20px;
    height: 20px;
  }

  .copyrights {
    margin-top: 50px;
  }

  .popup_container {
    max-width: 90%;
    max-height: 530px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 5%;
  }

  .label-text {
    width: 290px;
  }

  .popup-form {
    padding: 20px 15px;
  }

  .popup-select {
    width: 100%;
  }

  .popup-textarea {
    width: 100%;
  }

  .popup-button {
    width: 100%;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trend {
    width: 49.7%;
    height: 246px;
  }

  .trend2,
  .trend3,
  .trend4 {
    margin-top: 0;
  }

  .trend1,
  .trend3 {
    margin-right: 0.3%;
  }

  .trend3,
  .trend4 {
    margin-top: 0.3%;
  }

  .popup_container {
    width: 80%;
    left: 10%;
  }
}